<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-info bg-gradient text-white">
                    <h4>LogIn</h4>
                </div>
                <div class="card-body">
                    <form id="myform" action="/Login" method="post">
                        <div id="msg"></div>
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Password:</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password" required>
                        </div>

                        <button type="submit" class="btn btn-info btn-block">LogIn</button>
                        
                        <a href="/Signup">New User-SignUp</a><br>
                    </form>
                    <button onclick="forgotpassword()" class="btn btn-info"> Forgot password</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.8/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
const myform=document.getElementById('myform');
    myform.addEventListener('submit',chkUser);
async function chkUser(event){
       const email=event.target.email.value;
       const password=event.target.password.value;
       const data={
        email,
        password
       }
   await axios.post('http://localhost:3000/Login',data).then((response)=>{
        console.log(response.data.token);
        localStorage.setItem('token', response.data.token);
        window.location.href="/expense";
        alert('Login successfull');
    }).catch((error)=>console.log(error));
    }

    function forgotpassword() {
    window.location.href = "/forgetPassPage"
}

</script>
</body>
</html>
