<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Reset Password</title>
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header bg-info bg-gradient text-white">
                        <h4>Reset Password</h4>
                    </div>
                    <div class="card-body">
                     <form id="resetPasswordForm">
                            <label for="password">Password:</label>
                            <input class="form-control" type="password" id="password" required>
                             <label for="confirmPassword">Confirm Password:</label>
                             <input class="form-control" type="password" id="confirmPassword" required>
                            <div id="error"></div>
                            <p id="error-msg"></p>
                            <button class="btn btn-primary" type="submit" id="submitBtn">Reset Password</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        
const apiUrl = "http://localhost:3000";
const submitBtn = document.getElementById("submitBtn");

submitBtn.addEventListener("click", async () => {
  const newPassword = document.getElementById("password").value;
const confirmPassword = document.getElementById("confirmPassword").value;
console.log("newPassword:",newPassword);
  try {
    event.preventDefault();

    if (newPassword !== confirmPassword) {
      error.innerHTML = "Passwords do not match";
      setTimeout(() => {
        error.innerHTML = "";
      }, 10000);
      return;
    }
    const uuid = window.location.pathname.split('/').pop();
    console.log("uuid",uuid);
    let obj = {
      password: newPassword,
      uuid: uuid,
    };

    await axios.post(`${apiUrl}/resetPassword`,obj, {
      headers: {
        "Content-Type": "application/json",
      }
    }).then(function(response) {
                alert(response.data.message);
                // Redirect to login page or any other page after successful password reset
                window.location.href = '/login';
            })
            .catch(function(error) {
                console.error(error);
                alert("An error occurred while resetting password. Please try again later.");
            });
     } catch (error) {
    console.log(error);
  }
});

    </script>
</body>
</html>
